.sidebar {
    align-items: center;
    justify-content: center;
  }
  .chart {
    background: rgb(70, 110, 211) linear-gradient(white,rgb(81, 81, 219),white);
    border-radius: 10px;
    
  }
  
  .chart-data{
    margin:auto;
    width: 80%;
    height: 10vh;
    background-color: white;
    color:black;
    text-align: center;
  }