.sidebar {
    align-items: center;
    justify-content: center;
  }
  .chart {
    background: rgb(70, 110, 211);
  }
  
  .chart-data{
    margin:auto;
    width: 80%;
    height: 10vh;
    background-color: white;
    color:black;
    text-align: center;
  }